*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
fixtures/
.tmp/
.vagrant/
dist/vx-worker.dsc
dist/debian.control
dist/debian.changelog
dist/debian.rules
